@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme{
  --color-primary:#e67e22;
  --color-dark: #1a1a1a;
  --color-accent: #d35400;

  /* Font */

--font-ibm-arabic: "IBM Plex Sans Arabic", sans-serif;
}

body{
  font-family:var(--font-ibm-arabic);
  @apply bg-gray-50 text-dark;
}