@import "tailwindcss";

@theme{
  --color-primary:#e67e22;
  --color-dark: #1a1a1a;
  --color-accent: #d35400;

  /* Font */

  --font-cairo: "Cairo",sans-serif;
}

body{
  font-family:var(--font-cairo);
  @apply bg-gray-50 text-dark;
}